# Dataset
datasets/

# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables and secrets
.env

# Ignore all Jupyter notebooks
*.ipynb

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/